.box {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aquamarine;
    margin: 5px;
    text-align: center;
    overflow:hidden;
    float: left
    
}

.dark{
    background-color: black;
    color: green;
}

.white{
    background-color: white;
    color: black;
}